@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.texto{
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.head_container{
    background-color: #880799;
    height: 170px;
    color: white;
}

.lista{
  text-align: center;
  padding-top: 50px;
}
